
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Work Flow</title>

    @Styles.Render("~/bundles/css/rappid")
    @Styles.Render("~/bundles/css/bootstrap")

    <style>
        .icon-size {
            font-size: 20px;
        }
         .joint-lightbox.modal {
            display: block;
        }
        .joint-popup.joint-theme-modern {
            background-color: lightcyan;
            border: 2px solid #31d0c6;
            border-radius: 10px;
            padding: 10px;
        }

        .joint-toolbar.joint-theme-material button {
            height: 29px;
        }

        .navigator-container {
            bottom: 50px;
        }

        .joint-popup.joint-theme-dark {
            background-color: lightcyan;
            border: 2px solid #31d0c6;
            border-radius: 10px;
            padding: 10px;
            font-family: lato-light,Arial,sans-serif;
        }

        .joint-popup.joint-theme-material {
            background-color: lightcyan;
            border: 2px solid #31d0c6;
            border-radius: 10px;
            padding: 10px;
            font-family: lato-light,Arial,sans-serif;
        }

        .popover {
            max-width: 100%;
            // Max Width of the popover (depending on the container!);
        }

        .toolbar-container button.joint-widget[data-type="zoomIn"], .toolbar-container button.joint-widget[data-type="zoomOut"] {
            display: block;
        }



        /*For Rappid overwrite*/
        .app-title h1 {
            font-size: 12px;
            line-height: 33px !important;
        }

        .app-header {
            height: 28px !important;
        }

        .joint-widget.joint-theme-material[data-type=zoomToFit]:after {
            background-position: 0px -39px;
        }

        .joint-widget.joint-theme-material[data-type=zoomOut]:after {
            background-position: -62px -4px;
        }

        .joint-widget.joint-theme-material[data-type=zoomIn]:after {
            background-position: -27px -39px;
        }

        .joint-widget.joint-theme-material[data-type=fullscreen]:after {
            background-position: -58px -33px;
        }

        .joint-widget.joint-theme-material[data-type=undo]:after, .joint-widget.joint-theme-material[data-type=redo]:after, .joint-widget.joint-theme-material[data-type=zoomToFit]:after, .joint-widget.joint-theme-material[data-type=zoomIn]:after, .joint-widget.joint-theme-material[data-type=zoomOut]:after, .joint-widget.joint-theme-material[data-type=fullscreen]:after {
            background-size: 92px;
        }


        /*Navigater*/
        .joint-navigator {
            right: 18px !important;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fdfdfd;
        }

        .navigator-container {
            bottom: 22px !important;
        }

        .joint-select-button-group.joint-theme-material {
            display: none;
        }

        .sliderSource {
            background-color: #5bc0de;
        }
    </style>

</head>
<body style="padding-top:0px !important">
    <div class="container">

        <div id="wOdetailForWF"></div>
        <hr />
        <div class="row">
            @*  <div class="col-md-2">MA Performed<span style="margin-left: 5px ;padding: 3px 10px 3px 10px;background-color:#6e88ff;"></span></div>
                <div class="col-md-2" style="margin-left: -40px;">GSC Performed<span style=" margin-left 5px ;padding 3px 10px 3px 10px;background-color:#00983b;"></span></div>
                <div class="col-md-2" style="margin-left: -40px;">Not Performed<span style="margin-left: 5px;"><img src="~/Content/images/rectangle.png"></span></div>
                <div class="col-md-2" style="margin-left: -40px;">Automated<span style="margin-left: 5px;"><img src="~/Content/images/parallelogram.png"></span></div>*@

            <div class="col-md-12">
                Project ID:<span class=""><label id="projectId" style="width: auto" /></span>
                WorkFlow Name:<span class=""><label id="WFName" style="width: auto" /></span>
            </div>


        </div>
        <div class="row" id="assessedOrExpriencedDiv" style="display:none;text-align:center;"></div>

    </div>
    <div class="container" id="app">
        <div class="app-header" style="height:43px">
            <div class="app-title">
                <h1>VIEW WorkFlow</h1>
            </div>
            <div class="toolbar-container"></div>
        </div>
        <div class="app-body">
            @*<div class="stencil-container"></div>*@
            <div class="paper-container"></div>
            @*<div class="inspector-container"></div>*@
            <div class="navigator-container"></div>
        </div>
    </div>
    <!-- Rappid/JointJS dependencies: -->
    @Scripts.Render("~/bundles/rappid")
    @Scripts.Render("~/bundles/GetSessionVars")
    @Scripts.Render("~/bundles/config")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/ActivityMaster")
    @Scripts.Render("~/bundles/DataTableScript")
    @Styles.Render("~/bundles/css/DataTableStyle")
    @Scripts.Render("~/bundles/DataTablesAdvancedScript")
    @Styles.Render("~/bundles/css/select2")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/ajaxRequest")
    @Scripts.Render("~/bundles/SessionManagement")
    @*@Scripts.Render("~/bundles/Project")*@
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/ActivityMaster")

    <script>
        $(document).ready(function () {
            checkAuthorization();
            var urlParams = new URLSearchParams(window.location.search);
            subID = urlParams.get("subId");
            projID = urlParams.get("projID");
            version = urlParams.get("version");
			let displayMode = (urlParams.get("experiencedMode")) ? urlParams.get("experiencedMode") : '0';
            var subActivityDefID = null;
            let wfid = urlParams.get("wfid");
            flag = '';
			viewFlowChartWorkOrder(projID, subID, version, displayMode, wfid);

        });

         function checkAuthorization() {
            var urlParams = new URLSearchParams(window.location.search);
            let projectID = urlParams.get('projID');
            $.isf.ajax({
                url: service_java_URL + "flowchartController/checkUserAuthenticationForWorkFlow?projectId=" + projectID,
                crossdomain: true,
                contentType: 'application/json',
                async: false,
                success: function (data) {
                    if (data.isValidationFailed) {
                        window.location.href = UiRootDir + '/Login/UnauthorizedWarning';
                    }
                },
                error: function () {

                }
            })
        }

        joint.setTheme('material');
        app = new App.MainView({ el: '#app' });
        themePicker = new App.ThemePicker({ mainView: app });
        themePicker.render().$el.appendTo(document.body);

        window.addEventListener('load', function () {

        });


    </script>
    <!-- Local file warning: -->
    <div id="message-fs" style="display: none;">
        <p>The application was open locally using the file protocol. It is recommended to access it trough a <b>Web server</b>.</p>
        <p>Please see <a href="README.md">instructions</a>.</p>
    </div>
    <script>
        (function () {
            var fs = (document.location.protocol === 'file:');
            var ff = (navigator.userAgent.toLowerCase().indexOf('firefox') !== -1);
            if (fs && !ff) {
                (new joint.ui.Dialog({
                    width: 300,
                    type: 'alert',
                    title: 'Local File',
                    content: $('#message-fs').show()
                })).open();
            }
        })();
    </script>

</body>
</html>

