@{
    ViewBag.Title = "Resource Request";
}
@*<script src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyDJkP0yoSvhwjZXqsBMn5qZD6MJvbLk3rM"></script>*@
@*@Scripts.Render("~/bundles/Project")*@
@Scripts.Render("~/bundles/JsResource")
@Scripts.Render("~/bundles/viewResource")
@Styles.Render("~/bundles/css/select2")
@Scripts.Render("~/bundles/select2")
@Scripts.Render("~/bundles/DataTablesAdvancedScript")
<style>
    .pac-container {
        z-index: 10000 !important;
    }
    .panel-details {
        padding: 7px;
        /* height: 42px; */
        /* text-transform: uppercase; */
        text-align: center;
        font-size: 14px;
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
</style>
<script>
    var ScopeID = 8; var defaultDate; var ResourceAllocated, ResourceDeleted;
    var ProjectID = localStorage.getItem("views_project_id");
    var vendorData = {};
    //var SubScopeID = 0;
    var ResourceID = 0;
    var ot,  oTables; var RRID;
    var OnlyNumber = /^[0-9]+?$/;
    var minRemoteCountValue = 0;
    var minOnsiteCountValue = 0;
   
    $(document).ready(function () {
        //getTableScopeResource();
        $('#end_date_dr').datepicker();
        $('#RemoteCount').mouseout(function (tecla) {
            if (!$("#RemoteCount").val().match(OnlyNumber)) {
                var text = $('#RemoteCount').val();
                text = $('#RemoteCount').val().substring(0, text.length - 1);
                $('#RemoteCount').val(text);
                $('#RemoteCount-Required').text("Only numbers");
            }
            else
                $('#RemoteCount-Required').text("");
        });

        $('#RemoteCountEdit').mouseout(function (tecla) {
            if (!$("#RemoteCountEdit").val().match(OnlyNumber)) {
                var text = $('#RemoteCountEdit').val();
                text = $('#RemoteCountEdit').val().substring(0, text.length - 1);
                $('#RemoteCountEdit').val(text);
                $('#RemoteCountEdit-Required').text("Only numbers");
            }
            else
                $('#RemoteCountEdit-Required').text("");
        });

        $('#FTE').mouseout(function (tecla) {
            $('#FTE-Required').text("")
            if (!$("#FTE").val().match(OnlyNumber)) {
                var text = $('#FTE').val();
                text = $('#FTE').val().substring(0, text.length - 1);
                $('#FTE').val(text);
                $('#FTE-Required').text("Only numbers");
            }
            else
                $('#FTE-Required').text("");
        });

        $('#FTEEdit').mouseout(function (tecla) {
            $('#FTEEdit-Required').text("");
            if (!$("#FTEEdit").val().match(OnlyNumber)) {
                var text = $('#FTEEdit').val();
                text = $('#FTEEdit').val().substring(0, text.length - 1);
                $('#FTEEdit').val(text);
                $('#FTEEdit-Required').text("Only numbers");
            }
            else
                $('#FTEEdit-Required').text("");
        });

        $(function () {
            $("[id$=start_date_dr]").datepicker({ minDate: 0 });
        });

        $(function () {
            $("[id$=start_dateEdit]").datepicker({ minDate: $('#start_date_dr').val() });
        });

        $(function () {
            $("[id$=end_date_dr]").datepicker({
                startDate: $("[id$=start_date_dr]").val(),
                autoClose: true,
                viewStart: 0,
                weekStart: 1
            });
        });

        $(function () {
            $("[id$=end_dateEdit]").datepicker({
                startDate: $("[id$=start_dateEdit]").val(),
                autoClose: true,
                viewStart: 0,
                weekStart: 1
            });
        });

    });
    
</script>

<style>
    .dt-button.buttons-columnVisibility {
        /*background-color:red;*/
        opacity: 0.5;
    }

        .dt-button.buttons-columnVisibility.active {
            opacity: 1;
        }
</style>

<div class="col-lg-12">
    @*<div class="panel panel-default">
       <div class="panel-heading">
           <label style="color:orange">  NOTE!! Demand Request module is now available under Project > Demand Forecast in Menu only for RPMs and SPMs</label>
        </div>
        <div class="panel-body">*@
            <div>@Html.Partial("_ViewResource")</div>

            <div class="table-responsive" style="display:none;overflow-x: auto;">
                <table id="tbScopeBody" class="table table-striped table-bordered table-hover" style="width:100%"></table>
            </div>

            <div class="modal fade" id="AddR" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog5" role="document">
                    <div class="modal-content">
                        
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="scopeTitleModal">Add SP</h4>
                            <div class="col-lg-2 pull-right" style="margin:-30px 20px 0 0" ;>
                                <select class="select2able" id="selectRRID" onchange="getValuesByRRID(this.value);">
                                    <option value="0">Select RRID</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-body" id="scopeContentModal">
                            <div class="widget-container fluid-heightB clearfix">
                                <input id="lblScopeID" type="text" readonly hidden>
                                <input id="lblSubScopeID" type="text" readonly hidden>

                                <div class="panel panel-default">
                                    <div class="panel panel-details" id="detailsTitlePanel"></div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        SP Details
                                        <button class="pull-right fa fa-angle-down" data-target="#detailsPanel" data-toggle="collapse"></button>
                                    </div>
                                    <div class="panel-body collapse in" id="detailsPanel">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-2">
                                                    <label>SP Type</label>
                                                    <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                                    <select id="select_resourceType" class="form-control" placeholder="SP Type">
                                                        <option value="0">Select one</option>
                                                        <option>Ericsson</option>
                                                        <option>ARP</option>
                                                        <option>ASP</option>
                                                    </select>

                                                    <div>
                                                        <label id="select_resourceType-Required" style="color: red; font-size: 10px; padding-left: 15px;"></label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <label>Vendor</label>
                                                    <select id="select_vendorDR" class="select2able" multiple></select>
                                                    <div>
                                                        <label id="select_vendorDR-Required" style="color: red; font-size: 10px; padding-left: 15px;"></label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <label>Job Role</label>
                                                    <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                                    <select id="select_jobRole" class="form-control" placeholder="Job Role">
                                                        <option value="0">Select one</option>
                                                    </select>

                                                    <div>
                                                        <label id="select_jobRole-Required" style="color: red; font-size: 10px; padding-left: 15px;"></label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <label>Job Stage</label>
                                                    <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                                    <select id="select_jobStage" class="form-control" placeholder="Job Stage">
                                                        <option value="0">Select one</option>
                                                    </select>
                                                    <div>
                                                        <label id="select_jobStage-Required" style="color: red; font-size: 10px; padding-left: 15px;"></label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <label>Remote Count</label>
                                                    <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                                    <input id="RemoteCount" class="form-control" type="number" value="0" min="0" max="1000" step="1">

                                                    <div>
                                                        <label id="RemoteCount-Required" style="color: red; font-size: 10px; text-align: center; padding-left:15px;"></label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2">
                                                    <label>Onsite Count</label>
                                                  
                                                    <input id="OnsiteCount" class="form-control" type="number" value="0" min="0" max="1000" step="1">
                                                    <div>
                                                        <label id="OnsiteCount-Required" style="color: red; font-size: 10px; text-align: center; padding-left:15px;"></label>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div hidden class="row">
                                            <div class="col-lg-12">
                                                <fieldset class="panel panel-default">
                                                    <legend>Onsite Location</legend>
                                                    <button class="pull-right fa fa-angle-down" data-target="#onsiteCountryPanel" style="margin-top:-35px;" data-toggle="collapse"></button>

                                                    <div class="panel-body collapse" id="onsiteCountryPanel">
                                                        <div class="col-lg-2" style="margin-top:-25px;">
                                                            <label>Country</label>
                                                            <select id="select_OnsiteCountry" class="form-control" onchange="getOnSiteStates()">
                                                                <option value="0">Select one</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-2" style="margin-top:-25px;">
                                                            <label>State</label>
                                                            <select id="select_OnsiteState" class="form-control" onchange="getOnSiteCities()"></select>
                                                        </div>
                                                        <div class="col-lg-2" style="margin-top:-25px;">
                                                            <label>City</label>
                                                            <select id="select_OnsiteCity" class="form-control"></select>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <table class="table table-striped table-bordered table-hover" id="table_OnsiteLocation" style="margin-top:-25px;">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Country</th>
                                                                        <th>State</th>
                                                                        <th>City</th>
                                                                        <th>Coordinates</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tBodyOnsiteLocation"></tbody>
                                                            </table>
                                                        </div>
                                                                <div class="row">
                                                                    <div class="col-lg-2" style="margin-left:370px; margin-top:-10px;">
                                                                        <button id="btnAddOnsiteLocation" type="button" class="btn btn-primary" onclick="AddOnsiteLocation()">Add</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                   </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <label>SP Source</label>
                                                <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                                <select id="resourceSource" class="select2able" placeholder="SP Source" style="height:100px;" multiple></select>
                                                <div>
                                                    <label id="resourceSource-Required" style="color: red; font-size: 10px; padding-top:8px"></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <label>Delivery Location</label>
                                                <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                                <input type="text" id="locationAddAutocomplete" placeholder="Enter the city" style="height:30px;width:90%;"/>
                                                <div>
                                                    <label id="locationAddAutocomplete-Required" style="color: red; font-size: 10px; padding-top:8px"></label>
                                                </div>

                                            </div>
                                            <div class="col-lg-6">
                                                <label>Description</label>
                                              
                                                <textarea name="sidebarChatMessage" id="resource_description" class="form-control autosize" style="height: 62px;min-width:100%;"></textarea>
                                                <div>
                                                    <label id="resource_description-Required" style="color: red; font-size: 10px; padding-left: 15px;"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Duration Details
                                        <button class="pull-right fa fa-angle-down" data-target="#durationPanel" data-toggle="collapse"></button>
                                    </div>
                                    <div class="panel-body collapse in" id="durationPanel">
                                        <div class="row">
                                            <div class="col-lg-12">

                                                <div class="col-lg-3">
                                                    <div class="input-group date datepicker">
                                                        Start Date<input id="start_date_dr" class="form-control" data-date-format='yyyy-mm-dd' placeholder="MM/DD/YYYY" type="text" readonly onchange="ChangeStartDate100()">
                                                        <span class="input-group-addon ep_calendar_icon"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                    <div style="width: 20px; margin-left: -10px; margin-top: -65px; font-size: 17px; color: red;">*</div>
                                                    <div>
                                                        <label id="start_date-Required" style="color:red; font-size:10px; padding-left:15px;"></label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3">
                                                    <div class="input-group date datepicker">
                                                        <label> End Date</label>
                                                        <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                                        <input id="end_date_dr" class="form-control" data-date-format='yyyy-mm-dd' placeholder="YYYY-MM-DD" type="text" onchange="ChangeEndDate100()">

                                                        <span class="input-group-addon ep_calendar_icon"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                    <div>
                                                        <label id="end_date-Required" style="color: red; font-size: 10px; padding-left:15px;"></label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2">
                                                    <label>Duration</label>
                                                    <input id="duration" class="form-control" placeholder="Duration" disabled>
                                                </div>
                                                <div class="col-lg-2">
                                                    <label>FTE%</label>
                                                    <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                                    <input id="FTE" type="number" class="form-control" value="100" min="0" max="100" step="1" onchange="getHoursByFTE()" />
                                                    <div>
                                                        <label id="FTE-Required" style="color: red; font-size: 10px; padding-left:15px;"></label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2">
                                                    <label>Hours</label>
                                                    <input id="HourDays" class="form-control" disabled>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default" style="display:none;">
                                    <div class="panel-heading" id="competenceHeading">
                                        Competence & Level Requirement
                                        <button class="pull-right fa fa-angle-down" data-target="#competencePanel" data-toggle="collapse"></button>
                                    </div>
                                    <div class="panel-body collapse" id="competencePanel">
                                        <div class="row">
                                            <br>
                                            <div class="col-lg-12">
                                                <div class="col-lg-2">
                                                    <label>Level</label><br><br>
                                                    <label>Search</label><br><br><br><br>
                                                    <label>Competence</label><br><br>
                                                </div>
                                                <div class="col-lg-3">
                                                    <select id="select_Level" class="form-control col-md-2">
                                                        <option value="0">Select one</option>
                                                        <option value="Beginner">T</option>
                                                        <option value="Intermediate">A</option>
                                                        <option value="Expert">B</option>
                                                        <option value="fail">C</option>
                                                        <option value="medium">D</option>
                                                    </select>
                                                    <br /><br />
                                                    <input id="search" class="form-control" type="text">  <br><br>
                                                    <select id="select_Competence" class="" multiple></select><br />
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6" style="padding-left:80px">
                                                        <table class="table table-striped table-bordered table-hover" id="table_competence">
                                                            <thead>
                                                                <tr>
                                                                    <th id="thCompetence">competende ID</th>
                                                                    <th>Competence</th>
                                                                    <th>Level</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tBodyCompetence"></tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div style="padding-top:20px" class="col-lg-2">
                                                        <button id="btnCompetence" type="button" class="btn btn-primary" onclick="AddCompetence()">Add Competence</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default" style="display:none;">
                                    <div class="panel-heading" id="certificateHeading">
                                        Certificate Requirements

                                        <button class="pull-right fa fa-angle-down" data-target="#certificatePanel" data-toggle="collapse"></button>
                                    </div>
                                    <div class="panel-body collapse" id="certificatePanel">
                                        <div class="row">

                                            <br>
                                            <div class="col-lg-12">
                                                <div class="col-lg-2">
                                                    <label>Issue By</label><br><br>
                                                    <label>Certificates</label><br><br>
                                                </div>
                                                <div class="col-lg-3">
                                                    <select id="select_Issue" class="form-control col-md-2" onchange="IssueChange()">
                                                        <option value="0">Select one</option>
                                                    </select>
                                                    <br /><br />
                                                    <select id="select_Certificate" class="select2able" multiple></select><br />

                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <table class="table table-striped table-bordered table-hover" id="table_certificate">
                                                            <thead>
                                                                <tr>
                                                                    <th id="thCertificate">Certificate ID</th>
                                                                    <th>Certificate</th>
                                                                    <th>Issued by</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tBodyCertificate"></tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <br />
                                                        <button id="btnCertificate" type="button" class="btn btn-primary" onclick="AddCertificate()">Add Certificate</button>
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label style="display:none;color:brown" id="lblValAddResource"></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="SubmitAdd" type="button" class="btn btn-primary" onclick="validateAddResource()">Submit</button>
                            <button id="cancelModal" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                        <script>
                            var input = document.getElementById('locationAddAutocomplete');
                            //var autocomplete = new google.maps.places.Autocomplete(input, { types: ['(cities)'] });
                            //google.maps.event.addListener(autocomplete, 'place_changed', function () {
                            //    var place = autocomplete.getPlace();
                            //})

                        </script>
                    </div>

                </div>
            </div>
            <!--modal3 showdetails-->
            <div class="modal fade" id="AllR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog5" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="scopeTitleModal">All SPs</h4>
                        </div>
                        <div class="modal-body" id="ResourceContentModal">
                            <div class="widget-container fluid-heightB clearfix">
                                <div class="heading">
                                    <label id="subScopeTitle"></label>
                                </div>
                                <input id="EditScopeID" type="text" readonly hidden>
                                <input id="EditSubScopeID" type="text" readonly hidden>
                                <div class="row">
                                    <table class="table table-striped table-bordered table-hover" id="tableResouce">
                                        <thead>
                                            <tr>
                                                <th>SP Type</th>
                                                <th>Vendor</th>
                                                <th>SP Location</th>
                                                <th>Job Role</th>
                                                <th>Job Stage</th>
                                                <th>Onsite Count</th>
                                                <th>Remote Count</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>FTE%</th>
                                                <th>SP Count</th>
                                                <th>SP Deleted Count</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="TbodyResource"></tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button id="cancelModal" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--modal2 editar Resouces-->
            <div class="modal fade" id="EditR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog5" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="scopeTitleModal">Edit SP</h4>
                        </div>
                        <div class="modal-body" id="scopeContentModal">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    SP Details
                                    <button class="pull-right fa fa-angle-down" data-target="#detailsPanelEdit" data-toggle="collapse"></button>
                                </div>
                                <div class="panel-body collapse in" id="detailsPanelEdit">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-2">
                                                <input id="ResourceID" type="text" readonly hidden>
                                                <label>SP Type</label>
                                                <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                                <select id="select_resourceTypeEdit" class="form-control" placeholder="Resource Type">
                                                    <option value="0">Select one</option>
                                                    <option>Ericsson</option>
                                                    <option>ARP</option>
                                                    <option>ASP</option>
                                                </select>
                                                <div>
                                                    <label id="select_resourceTypeEdit-Required" style="color: red; font-size: 10px; padding-left: 15px;"></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <label>Vendor</label>
                                                <select id="select_vendorEditDR" class="select2able" style="height:100px" multiple></select>
                                                    <div>
                                                    <label id="select_vendorEdit-Required" style="color: red; font-size: 10px; padding-left: 15px;"></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <label>Job Role</label>
                                                <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                                <select id="select_jobRoleEdit" class="form-control" placeholder="Job Role">
                                                    <option value="0">Select one</option>
                                                </select>

                                                <div>
                                                    <label id="select_jobRoleEdit-Required" style="color: red; font-size: 10px; padding-left: 15px;"></label>
                                                </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <label>Job Stage</label>
                                                <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                                <select id="select_jobStageEdit" class="form-control" placeholder="Job Stage">
                                                    <option value="0">Select one</option>
                                                </select>
                                                <div>
                                                    <label id="select_jobStageEdit-Required" style="color: red; font-size: 10px; padding-left: 15px;"></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <label>Remote Count</label>
                                                <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                                <input id="RemoteCountEdit" class="form-control" type="number" value="0" min="0" max="1000" step="1">
                                                <div>
                                                    <label id="RemoteCountEdit-Required" style="color: red; font-size: 10px; text-align: center; padding-left:15px;"></label>
                                                </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <label>Onsite Count</label>
                                                
                                                <input id="OnsiteCountEdit" class="form-control" type="number" value="0" min="0" max="1000" step="1">
                                                <div>
                                                    <label id="OnsiteCountEdit-Required" style="color: red; font-size: 10px; text-align: center; padding-left:15px;"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div hidden class="row">
                                        <div class="col-lg-12">
                                            <fieldset class="panel panel-default">
                                                <legend>Onsite Location</legend>
                                                <button class="pull-right fa fa-angle-down" data-target="#onsiteCountryEditPanel" style="margin-top:-35px;" data-toggle="collapse"></button>
                                                <div class="panel-body collapse" id="onsiteCountryEditPanel">
                                                    <div class="col-lg-2" style="margin-top:-25px;">
                                                        <label>Country</label>
                                                        <select id="select_OnsiteCountryEdit" class="form-control" onchange="getOnSiteStatesEdit()">
                                                            <option value="0">Select one</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-2" style="margin-top:-25px;">
                                                        <label>State</label>
                                                        <select id="select_OnsiteStateEdit" class="form-control" onchange="getOnSiteCitiesEdit()"></select>
                                                    </div>
                                                    <div class="col-lg-2" style="margin-top:-25px;">
                                                        <label>City</label>
                                                        <select id="select_OnsiteCityEdit" class="form-control"> </select>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <table class="table table-striped table-bordered table-hover" id="table_OnsiteLocationEdit" style="margin-top:-25px;">
                                                            <thead>
                                                                <tr>
                                                                    <th>Country</th>
                                                                    <th>State</th>
                                                                    <th>City</th>
                                                                    <th>Coordinates</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tBodyOnsiteLocationEdit"></tbody>
                                                        </table>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-2" style="margin-left:370px; margin-top:-10px;">
                                                            <button id="btnAddOnsiteLocationEdi" type="button" class="btn btn-primary" onclick="AddOnsiteLocationEdit()">Add</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <label>SP Source</label>
                                            <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                            <select id="resourceSourceEdit" class="select2able" placeholder="Resource Source" style="height:100px" multiple></select>
                                            <div>
                                                <label id="resourceSourceEdit-Required" style="color: red; font-size: 10px; padding-top: 8px;"></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label>Delivery Location</label>
                                            <div style="width: 20px; margin-left: -10px; margin-top: -30px; font-size: 17px; color: red;">*</div>
                                            <input type="text" id="locationEditAutocomplete" placeholder="Enter the city" style="height:30px;width:90%;" />
                                            <div>
                                                <label id="locationEditAutocomplete-Required" style="color: red; font-size: 10px; padding-top:8px"></label>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <label>Description</label>
                                            
                                            <textarea name="sidebarChatMessage" id="resource_description-edit" class="form-control autosize" style="height: 62px;min-width:100%"></textarea>
                                            <div>
                                                <label id="resource_description-edit-Required" style="color: red; font-size: 10px; padding-left: 15px;"></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Duration Details
                                    <button class="pull-right fa fa-angle-down" data-target="#durationPanelEdit" data-toggle="collapse"></button>
                                </div>
                                <div class="panel-body collapse in" id="durationPanelEdit">
                                    <div class="row">
                                        <div class="col-lg-12">

                                            <div class="col-lg-3">
                                                <div class="input-group date datepicker">
                                                    Start Date<input id="start_dateEdit" class="form-control" data-date-format='yyyy-mm-dd' placeholder="YYYY-MM-DD" type="text" readonly onchange="ChangeStartDateEdit()">
                                                    <span class=" input-group-addon ep_calendar_icon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                <div style="width: 20px; margin-left: -10px; margin-top: -65px; font-size: 17px; color: red;">*</div>
                                                <div>
                                                    <label id="start_dateEdit-Required" style="color:red; font-size:10px; padding-left:15px;"></label>
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="input-group date datepicker">
                                                    End Date<input id="end_dateEdit" class="form-control" data-date-format='yyyy-mm-dd' placeholder="MM/DD/YYYY" type="text" onchange="ChangeEndDateEdit()">
                                                    <div style="width: 20px; margin-left: -10px; margin-top: -65px; font-size: 17px; color: red;">*</div>
                                                    <span class="input-group-addon ep_calendar_icon"><i class="fa fa-calendar"></i></span>
                                                </div>

                                                <div>
                                                    <label id="end_dateEdit-Required" style="color: red; font-size: 10px; padding-left:15px;  margin-top: 30px;"></label>
                                                </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <label>Duration</label>
                                                <input id="durationEdit" class="form-control" placeholder="Duration" disabled>
                                            </div>

                                            <div class="col-lg-2">
                                                <label>FTE%</label>
                                                <input id="FTEEdit" type="number" class="form-control" value="100" min="0" max="100" step="1" onchange="getHoursByFTEEdit()">
                                                <div style="width: 20px; margin-left: -10px; margin-top: -70px; font-size: 17px; color: red;">*</div>
                                                <div>
                                                    <label id="FTEEdit-Required" style="color: red; font-size: 10px; padding-left:15px; margin-top: 30px;"></label>
                                                </div>
                                            </div>

                                            <div class="col-lg-2">
                                                <label>Hours</label>
                                                <input id="HourDaysEdit" class="form-control" disabled>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" style="display:none;">
                                <div class="panel-heading" id="competenceHeading">
                                    Competence & Level Requirement
                                  
                                    <button class="pull-right fa fa-angle-down" data-target="#competencePanelEdit" data-toggle="collapse"></button>
                                </div>
                                <div class="panel-body collapse" id="competencePanelEdit">
                                    <div class="row">
                                        <br>
                                        <div class="col-lg-12">
                                            <div class="col-lg-2">
                                                <label>Level</label><br><br>
                                                <label>Search</label><br><br><br><br>
                                                <label>Competence</label><br><br>
                                            </div>
                                            <div class="col-lg-3">
                                                <select id="select_LevelEdit" class="form-control col-md-2">
                                                    <option value="0">Select one</option>
                                                    <option value="Beginner">T</option>
                                                    <option value="Intermediate">A</option>
                                                    <option value="Expert">B</option>
                                                    <option value="fail">C</option>
                                                    <option value="medium">D</option>
                                                </select>
                                                <br /><br />
                                                <input id="searchEdit" class="form-control" type="text">  <br><br>
                                                <select id="select_CompetenceEdit" class="" multiple></select><br />
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6" style="padding-left:80px">
                                                    <table class="table table-striped table-bordered table-hover" id="table_competenceEdit">
                                                        <thead>
                                                            <tr>
                                                                <th id="thCompetenceEdit">competende ID</th>
                                                                <th>Competence</th>
                                                                <th>Level</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tBodyCompetenceEdit"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div style="padding-top:20px" class="col-lg-2">
                                                    <button id="btnCompetenceEdit" type="button" class="btn btn-primary" onclick="AddCompetenceEdit()">Add Competence</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default" style="display:none;">
                                <div class="panel-heading" id="certificateHeading">
                                    Certificate Requirements
                                    <button class="pull-right fa fa-angle-down" data-target="#certificatePanelEdit" data-toggle="collapse"></button>
                                </div>
                                <div class="panel-body collapse" id="certificatePanelEdit">
                                    <div class="row">

                                        <br>
                                        <div class="col-lg-12">
                                            <div class="col-lg-2">
                                                <label>Issue By</label><br><br>
                                                <label>Certificates</label><br><br>
                                            </div>
                                            <div class="col-lg-3">
                                                <select id="select_IssueEdit" class="form-control col-md-2" onchange="IssueChangeEdit()">
                                                    <option value="0">Select one</option>
                                                </select>
                                                <br /><br />
                                                <select id="select_CertificateEdit" class="select2able" multiple></select><br />

                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <table class="table table-striped table-bordered table-hover" id="table_certificateEdit">
                                                        <thead>
                                                            <tr>
                                                                <th id="thCertificateEdit">Certificate ID</th>
                                                                <th>Certificate</th>
                                                                <th>Issued by</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tBodyCertificateEdit"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <br />
                                                    <button id="btnCertificateEdit" type="button" class="btn btn-primary" onclick="AddCertificateEdit()">Add Certificate</button>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button id="SubmitEdit" type="button" class="btn btn-primary" onclick="validateEditResource()">Submit</button>
                            <button id="cancelModal" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                        <script>
                             var input = document.getElementById('locationEditAutocomplete');
                             //var autocomplete = new google.maps.places.Autocomplete(input, { types: ['(cities)'] });
                             //google.maps.event.addListener(autocomplete, 'place_changed', function () {
                             //    var place = autocomplete.getPlace();
                             //})
                        </script>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ARmodal" role="dialog">
                <div class="modal-dialog" style="width:95% !important">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding-bottom:0;background:  #C0D0F0 !important;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="font-size:small;">Allocated Resources</h4>
                        </div>
                        <div class="modal-body">
                            <div id="ARModalError" style="display:none" class="alert alert-danger">
                                <strong>No Data Available</strong>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive" style="overflow-x:auto;height:400px;">
                                        <table class="table table-striped table-bordered table-hover" id="dataTable_allocatedResource" style="width:100%;"></table>
                                        <!-- /.table-responsive -->
                                    </div>
                                    <!-- /.panel -->

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        @*</div>
    </div>*@
</div>