@{
    ViewBag.Title = "Execution Plan";
}

@Scripts.Render("~/bundles/executionPlan")
@Scripts.Render("~/bundles/DataTableScript")
@Styles.Render("~/bundles/css/DataTableStyle")
@*@Styles.Render("~/bundles/css/gantt")*@
@Styles.Render("~/bundles/css/ganttEnterprise")
@Scripts.Render("~/bundles/ganttEnterprise")
@*@Scripts.Render("~/bundles/gantt")*@
@Styles.Render("~/bundles/css/select2")
@Scripts.Render("~/bundles/select2")
      
<script src="https://export.dhtmlx.com/gantt/api.js"></script>  

@*<link type="text/css" rel="stylesheet" href="~/Content/CSS/gantt/dhtmlxgantt_meadow.css" />*@
<script type="text/javascript" src="~/Scripts/gantt/deliveryTracker.js"></script>

<script>
    var projectID = localStorage.getItem("views_project_id");
    var editTasks = ""; var editText = ""; var lb = ""; var newTaskId = 0; var sourceIDNew = 0;
    var sourceID = ""; var sourceName = ""; var sourceDetails = {}; var externalProjectID = ""; var extProjId = "";
    var taskDayNo = ""; var taskHours = ""; var newStartDate = ""; var newEndDate = ""; var customDuration = 0;
    var planNames = []; var rawPlanNames = [];
    var newplanNames = [];
    var scopeID = "";
    var subActivityID = "";
    var workFlowVersionNo = "";
    var scale_day = 0;
    var gantt = Gantt.getGanttInstance();
    var planAddedCount = 0;
    var tasksArray = [];
    var linksArray = [];
    var planName = '';
    var externalResource = '';
    var externalReference = ''; var externalReferenceText = '';
    var projectID = localStorage.getItem("views_project_id");
    var deletedTask = "";
    $(document).ready(function () {
        //getPlanSources();
    });
</script>

<style>
    .gantt_time{
        display:none;
    }
    .modal-body {
        padding: 0px !important;
    }
    .panel-heading span {
        margin-top: 5px!important;
    }
    .panel-body{
        padding:10px!important;
    }
    .custom_button {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        margin-top: 8px;
    }
    /*--------- CSS for toggle Active Inactive --------*/
    .switch {
        top:15px;
        position: relative;
        display: inline-block;
        width: 110px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ca2222;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2ab934;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(55px);
        -ms-transform: translateX(55px);
        transform: translateX(75px);
    }

    .on {
        display: none;
    }

    .on, .off {
        color: white;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        font-size: 10px;
        font-family: Verdana, sans-serif;
    }

    input:checked + .slider .on {
        display: block;
    }

    input:checked + .slider .off {
        display: none;
    }

    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    /*--------- CSS for toggle Active Inactive --------*/
    .disabled {
        color: darkgrey;
        background-color: grey;
    }
    /*.select2-container{
        z-index: 10002;
    }*/

    .panel-heading span {
        margin-top: 0;
    }
    .panel-body{
        padding:20px;
    }
    .nested_task .gantt_add {
        display: none;
    }
    .gantt_task{
        /*max-width:64%;
        overflow-x:scroll;*/
    }
    .gantt_time_selects{
        display:none;
    }
    /*.gantt_scale_cell{
        width:30px !important;
    }*/
    /*.gantt_duration_dec{
        display:none;
    }
    .gantt_duration_inc{
        display:none;
    }*/

    .disabledbutton {
        pointer-events: none;
        opacity: 0.4;
    }
    .gantt_cal_lsection {
        display: none;
    }
    .gantt_cal_larea{
        height:102px;
    }
    .gantt_cal_light{
        height:300px;
    }
    /*.gantt_task{
        width:800px;
    }
    .gantt_task_scale{
        width:800px;
    }*/ .gantt-fullscreen {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        padding: 2px;
        font-size: 32px;
        background: transparent;
        cursor: pointer;
        opacity: 0.5;
        text-align: center;
        -webkit-transition: background-color 0.5s, opacity 0.5s;
        transition: background-color 0.5s, opacity 0.5s;
    }

        .gantt-fullscreen:hover {
            background: rgba(150, 150, 150, 0.5);
            opacity: 1;
        }
    .demo-main-content {
        height: 600px;
        background: #fff;
    }

    .gantt-demo-header {
        border-top: 1px solid #cecece;
        border-left: 1px solid #cecece;
        border-right: 1px solid #cecece;
    }

    .gantt-controls {
        background-color: #f5f5f5;
        font-size: 14px;
        list-style-type: none;
        margin: 0;
        overflow: visible;
        padding: 0;
        text-align: left;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .gantt-menu-item {
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        overflow: visible;
        margin:-5px;
        /*padding:0 10px;*/
    }

    .gradient {
        font-size:14px;
        background: linear-gradient(to bottom right, #f5f5f5, #c5d1f5);
       // box-shadow: 5px 1px 5px 0px;
    }

    .content {
        transition:  0.9s ease-out;
    }

    .gantt-menu-item-right {
        float: right;
    }

    .gantt-menu-item img {
        margin-right: 8px;
        vertical-align: middle;
    }

    .gantt-menu-item a {
        display: block;
        cursor: pointer;
        color: #3d3d3d;
        text-align: center;
        line-height: 40px;
        padding: 0 10px;
        text-decoration: none;
    }

        .gantt-menu-item a:hover {
            background-color: #e2e2e2;
        }

    .gantt-controls .gantt-controls {
        display: none;
    }

    .gantt-menu-item:hover .gantt-controls {
        display: block;
        left: 0;
        padding: 5px 0;
        position: absolute;
        top: 41px;
        z-index: 1;
    }

    .gantt-menu-item .menu-item-active {
        background-color: #dadada !important;
    }

    .gantt-menu-item .menu-item-disabled {
        color: #818181 !important;
        pointer-events: none;
    }

    .gantt-menu-item:hover .gantt-controls li {
        width: 100%;
    }

    .gantt-menu-item:hover .gantt-controls a {
        white-space: nowrap;
        text-align: left;
    }

    .gantt-menu-item:hover .gantt-controls::before {
        position: absolute;
        top: -7px;
        width: 100%;
        content: " ";
        height: 10px;
        background: transparent;
        left: 0;
        z-index: 1;
    }

    .gantt-menu-item-last {
        border-right: 1px solid #cecece;
    }

    .status_line {
        background-color: #0ca30a;
    }


    .gantt_grid_wbs {
        position: absolute;
    }

    .gantt_grid_scale {
        position: relative;
        z-index: 1;
    }



    .dnd_highlighter {
        position: absolute;
        height: 4px;
        width: 500px;
        background-color: #3498db;
    }

        .dnd_highlighter::before {
            background: transparent;
            width: 12px;
            height: 12px;
            box-sizing: border-box;
            border: 3px solid #3498db;
            border-radius: 6px;
            content: "";
            line-height: 1px;
            display: block;
            position: absolute;
            margin-left: -11px;
            margin-top: -4px;
        }

    .gantt_drag_marker {
        opacity: 0.6;
    }

        .gantt_drag_marker.gantt_grid_resize_area {
            z-index: 1;
        }

    .gantt_parent_row {
        font-weight: bold;
    }

    .gantt_task_line div.gantt_side_content {
        bottom: 0;
    }

    .gantt-top-panel {
        position: relative;
        color: #fff;
        padding: 11px 16px;
        background: #3d3d3d;
    }

    .gantt-top-panel__btn {
        display: inline-block;
        color: #fff;
        padding: 7px 24px;
        text-decoration: none;
        border-radius: 20px;
        background: #2095f3;
        position: absolute;
        right: 8px;
        top: 50%;
        margin-top: -16px;
    }

        .gantt-top-panel__btn:hover {
            background: #03a9f4;
        }

        .gantt-top-panel__btn:focus {
            outline: none;
        }

        .gantt-top-panel__btn:active {
            transform: translateY(1px);
            -webkit-transform: translateY(1px);
        }
        /*.gantt.templates.task_date{
            display:none;
        }*/
</style>

<div class="col-lg-12">
    <div class="panel panel-default">

        <div class="panel-heading">
            Execution Plan
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="row">
                    <div style="display: block; @*overflow-x: auto;*@" id="executionPlanBody">
                    </div>

                </div>
                <label id="msgNodataEP" style="font-size: 13px; padding-left: 600px;"></label>
                @*<div class='panel-heading' style="display:none;"><label>No Data Available</label></div>*@

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_wo_creation_ep" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 86%">
        <div class="modal-content">
            <h4 class="panel-heading gradient" id="executionPlanTitleModal" style="text-align:left;"></h4>
            <div class="modal-body ganttChart" style="max-height: calc(110vh - 210px);overflow-y: auto;"></div>
        </div>
    </div>
</div>