@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Work Flow</title>
    @Scripts.Render("~/bundles/SessionManagement")
    @Styles.Render("~/bundles/css/rappid")
    @Styles.Render("~/bundles/css/bootstrap")
    <link type="text/css" rel="stylesheet" href="~/Content/CSS/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/CSS/style.css" />
    <style>
        .popover {
            max-width: 100%;
            // Max Width of the popover (depending on the container!);
        }

        .joint-lightbox.modal {
            display: block;
        }

        .toolbar-container button.joint-widget[data-type="zoomIn"], .toolbar-container button.joint-widget[data-type="zoomOut"] {
            display: block;
        }

        /*For Rappid overwrite*/
        .app-title h1 {
            font-size: 12px;
            line-height: 33px !important;
        }

        .app-header {
            height: 28px !important;
        }

        .joint-widget.joint-theme-material[data-type=zoomToFit]:after {
            background-position: 0px -39px;
        }

        .joint-widget.joint-theme-material[data-type=zoomOut]:after {
            background-position: -62px -4px;
        }

        .joint-widget.joint-theme-material[data-type=zoomIn]:after {
            background-position: -27px -39px;
        }

        .joint-widget.joint-theme-material[data-type=fullscreen]:after {
            background-position: -58px -33px;
        }

        .joint-widget.joint-theme-material[data-name=layout]:after {
            background-position: -3px -72px;
        }

        .joint-widget.joint-theme-material[data-name=layout]:after, .joint-widget.joint-theme-material[data-type=undo]:after, .joint-widget.joint-theme-material[data-type=redo]:after, .joint-widget.joint-theme-material[data-type=zoomToFit]:after, .joint-widget.joint-theme-material[data-type=zoomIn]:after, .joint-widget.joint-theme-material[data-type=zoomOut]:after, .joint-widget.joint-theme-material[data-type=fullscreen]:after {
            background-size: 92px;
        }

        .stencil-container {
            max-height: 90%;
        }
        /*Navigater*/
        .joint-navigator {
            right: 18px !important;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fdfdfd;
        }

            .joint-navigator.joint-theme-material {
                width: 166px !important;
                padding: 0px;
                padding-left: 57px;
                // padding-left: 49px !important;
            }

        .navigator-container {
            /*bottom: 156px !important;
            right: 263px;*/
            /*bottom: 81px !important;*/
            right: 167px;
            position: fixed;
            /*right: 0;*/
            bottom: 27px;
            width: 240px;
            height: 120px;
        }

        .inspector-container {
            bottom: 0px;
            max-height: 90%;
        }

        .joint-inspector.joint-theme-material {
            //max-height:471px;
        }

        .joint-select-button-group.joint-theme-material {
            display: none;
        }
    </style>
</head>
<body style="padding-top:0px !important">
    <div class="container" style="max-width:1500px">

        <div id="wOdetailForWF"></div>
        <hr />
        <div class="row">
            @*  <div class="col-md-2">MA Performed<span style="margin-left: 5px ;padding: 3px 10px 3px 10px;background-color:#6e88ff;"></span></div>
                <div class="col-md-2" style="margin-left: -40px;">GSC Performed<span style=" margin-left 5px ;padding 3px 10px 3px 10px;background-color:#00983b;"></span></div>
                <div class="col-md-2" style="margin-left: -40px;">Not Performed<span style="margin-left: 5px;"><img src="~/Content/images/rectangle.png"></span></div>
                <div class="col-md-2" style="margin-left: -40px;">Automated<span style="margin-left: 5px;"><img src="~/Content/images/parallelogram.png"></span></div>*@

            <!-- <div class="col-md-3" style="" ; width 290px;">WorkFlow Name:<span class=""><label id="WFName" style="width: 149px" /></span></div>
             <div class="col-md-1" style="float:right" id="addStep"><span class="pull-right"><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addEditStep">Add Step</a></span></div>
            <div class="col-md-1" style="float:right"><span class="pull-right"><button id="saveJSONExist" class="btn btn-sm btn-success" onclick="ViewsaveJsonfromUI(projID, subID, subActivityDefID, version, $('#WFName').val(), flag)">Save FlowChart</button></span></div>
             <div class="col-md-1" style="float:right"><span class="pull-right"><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#saveVersionedWF">Save FlowChart</a></span></div>
                 -->

        </div>
        <br />


    </div>
    <div class="container" id="app" style="max-width:1500px">
        <div class="app-header">
            <div class="app-title">
                <h1>VIEW WorkFlow</h1>
            </div>
            <div class="toolbar-container"></div>
        </div>
        <div class="app-body">
            <div class="stencil-container"></div>
            <div class="paper-container"></div>
            <div class="inspector-container"></div>
            <div class="navigator-container"></div>
        </div>
    </div>
    <!-- Rappid/JointJS dependencies: -->
    @Scripts.Render("~/bundles/rappid")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/GetSessionVars")
    @Scripts.Render("~/bundles/config")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/Project")
    @Scripts.Render("~/bundles/customConsole")
    @Scripts.Render("~/bundles/ajaxRequest")

    <script>
        $(document).ready(function () {
            var urlParams = new URLSearchParams(window.location.search);
            subID = urlParams.get("subId");
            projID = urlParams.get("projID");
            version = urlParams.get("version");
            json = JSON.parse(JSON.parse(localStorage.getItem("json")));

            /*  $.ajax({
                  url: service_java_URL + "flowchartController/viewFlowChartForSubActivity/" + projID + "/" + subID + "/0/" + version,
                  success: function (data) {

                      if ((data.flowChartJSON == null) || (data.flowChartJSON == '')) {
                          data.flowChartJSON = '{ "cells": [{ "size": { "width": 200, "height": 90 }, "angle": 0, "z": 1, "position": { "x": 225, "y": 230 }, "type": "basic.Rect", "attrs": { "rect": { "rx": 2, "ry": 2, "width": 50, "stroke-dasharray": "0", "stroke-width": 2, "fill": "#dcd7d7", "stroke": "#31d0c6", "height": 30 }, "text": { "font-weight": "Bold", "font-size": 11, "font-family": "Roboto Condensed", "text": "No FlowChart Available", "stroke-width": 0, "fill": "#222138" }, ".": { "data-tooltip-position-selector": ".joint-stencil", "data-tooltip-position": "left" } } }] }'
                      }
                      json = (JSON.parse(data.flowChartJSON));
                      app.graph.fromJSON(json);
                      // app.layoutDirectedGraph();
                      subActivityDefID = data.subActivityFlowChartDefID;
                      //$("#WFName").text(data.workFlowName)

                  },
                  error: function (xhr, status, statusText) {
                      var err = JSON.parse(xhr.responseText);
                      console.log(err.errorMessage);

                  }
              });*/
            app.graph.fromJSON(json);
            //resizeCell(app.paper.model);
            var subActivityDefID = null;
            flag = '';
            $(".stencil-container").hide();
            $(".paper-container").css("width", "100%");
            $(".paper-container").css("left", "0");
            $(".paper-container").css("right", "0");

            //Close of session timeout or logout
            setInterval(function () {
                var isUserLoggedin = signumGlobal;
                if (isUserLoggedin == null) {
                    //window.location.href = UiRootDir + "/";
                    window.close();
                }
            }, 2000);
        });
        joint.setTheme('material');
        app = new App.MainView({ el: '#app' });
        themePicker = new App.ThemePicker({ mainView: app });
        themePicker.render().$el.appendTo(document.body);



    </script>
    <!-- Local file warning: -->
    <div id="message-fs" style="display: none;">
        <p>The application was open locally using the file protocol. It is recommended to access it trough a <b>Web server</b>.</p>
        <p>Please see <a href="README.md">instructions</a>.</p>
    </div>
    <script>
        (function () {
            var fs = (document.location.protocol === 'file:');
            var ff = (navigator.userAgent.toLowerCase().indexOf('firefox') !== -1);
            if (fs && !ff) {
                (new joint.ui.Dialog({
                    width: 300,
                    type: 'alert',
                    title: 'Local File',
                    content: $('#message-fs').show()
                })).open();
            }
        })();
    </script>

</body>
</html>

