
@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/config")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/datepicker")
@Styles.Render("~/bundles/css/bootstrap")
@Scripts.Render("~/Scripts/services/workOrderCreate")

<div id="content">

    @*<div class="section-header">
            <ol class="breadcrumb">
                <li class="active">Work Order Creation</li>
            </ol>
        </div>*@
    <div id="page-wrapper2">
        <div class="panel panel-default">
            @*<div class="panel-heading">

                </div>*@
            <div class="panel-body">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-3">
                        <label style="margin-left:10px">WorkOrder Name:</label>
                        <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                        <input class="form-control" placeholder="" id="WO_name">
                        <div class="row">
                            <label id="WO_name-Required" style="color:red; font-size:10px; text-align:center;"></label>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label style="margin-left:10px">Priority:</label>
                        <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                        <select class="select2able select2-offscreen" id="select_priority">
                            <option value="0"></option>
                        </select>
                        <div class="row">
                            <label id="select_priority-Required" style="color:red; font-size:10px; text-align:center;"></label>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label style="margin-left:10px">Assign to User:</label>
                        <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                        <select class="select2able select2-offscreen" id="select_assign_to_user">
                            <option value="0"></option>
                        </select>
                        <div class="row">
                            <label id="select_assign_to_user-Required" style="color:red; font-size:10px; text-align:center;"></label>
                        </div>
                    </div>

                    @*<div class="col-lg-3" >
                            <label style="margin-left:10px">Project:</label>
                                <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                                <select class="select2able select2-offscreen" id="select_project_name"></select>
                                <div class="row">
                                    <label id="project_name-Required" style="color:red; font-size:10px; text-align:center;"></label>
                                </div>
                        </div>*@





                </div>

                <div class="row">


                    <div class="col-lg-3">
                        <label style="margin-left:10px">Subservice area:</label>
                        <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                        <select class="select2able select2-offscreen" id="select_product_area" onchange="getActivitiesSub();">
                            <option value="0"></option>
                        </select>
                        <div class="row">
                            <label id="select_product_area-Required" style="color:red; font-size:10px; text-align:center;"></label>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label style="margin-left:10px">Domain / Subdomain:</label>
                        <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                        <select class="select2able select2-offscreen" id="woc_select_domain" onchange="getActivitiesSub();">
                            <option value="0"></option>
                        </select>
                        <div class="row">
                            <label id="woc_select_domain-Required" style="color:red; font-size:10px; text-align:center;"></label>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label style="margin-left:10px">Technology:</label>
                        <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                        <select class="select2able select2-offscreen" id="woc_select_technology" onchange="getActivitiesSub();">
                            <option value="0"></option>
                        </select>
                        <div class="row">
                            <label id="woc_select_technology-Required" style="color:red; font-size:10px; text-align:center;"></label>
                        </div>
                    </div>




                </div>

                <div class="row">

                    <div class="col-lg-3">
                        <label style="margin-left:10px">Activity:</label>
                        <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                        <select class="select2able select2-offscreen" id="select_activity">
                            <option value="0"></option>
                        </select>
                        <div class="row">
                            <label id="select_activity-Required" style="color:red; font-size:10px; text-align:center;"></label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label style="margin-left:10px">SubActivity:</label>
                        <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                        <select class="select2able select2-offscreen" id="woc_select_activitysub">
                            <option value="0"></option>
                        </select>
                        <div class="row">
                            <label id="woc_select_activitysub-Required" style="color:red; font-size:10px; text-align:center;"></label>
                        </div>
                    </div>








                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <label style="margin-left:10px">Periodicity:</label>
                            <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                            <select class="select2able select2-offscreen" id="select_periodicity" onchange="openModalperiodicity(this.value);">
                                <option value="0"></option>
                                <option value="Single">Single</option>
                                <option value="Daily">Daily</option>
                                <option value="Weekly">Weekly</option>
                            </select>
                            <div class="row">
                                <label id="select_periodicity-Required" style="color:red; font-size:10px; text-align:center;"></label>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            <label style="margin-left:1px"><i class="fa fa-calendar"></i> Start Date</label>
                            <div style="width: 20px;  margin-left: 13px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                            <input type="date" Name="DateResigned" Id="Start_Date" class="form-control" data-date-format='yyyy-mm-dd' placeholder="yyyy/mm/dd" />
                            <div class="row">
                                <label id="Start_Date-Required" style="color:red; font-size:10px; text-align:center; margin-left:2px"></label>
                            </div>
                        </div>


                        @*<div class="col-lg-3">
                                <i class="fa fa-calendar"></i> &nbsp; <label> Start Date </label>
                                <br />
                                <input type="date" Name="DateResigned" Id="start_date" />
                            </div>*@
                        <div class="col-lg-3">
                            <label style="margin-left:10px">&nbsp Start Time:</label>
                            <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                            <select class="select2able select2-offscreen" id="start_time">
                                <option value="0"></option>
                                <option value="00:00:00">00:00:00</option>
                                <option value="00:30:00">00:30:00</option>
                                <option value="01:00:00">01:00:00</option>
                                <option value="01:30:00">01:30:00</option>
                                <option value="02:00:00">02:00:00</option>
                                <option value="02:30:00">02:30:00</option>
                                <option value="03:00:00">03:00:00</option>
                                <option value="03:30:00">03:30:00</option>
                                <option value="04:00:00">04:00:00</option>
                                <option value="04:30:00">04:30:00</option>
                                <option value="05:00:00">05:00:00</option>
                                <option value="05:30:00">05:30:00</option>
                                <option value="06:00:00">06:00:00</option>
                                <option value="06:30:00">06:30:00</option>
                                <option value="07:00:00">07:00:00</option>
                                <option value="07:30:00">07:30:00</option>
                                <option value="08:00:00">08:00:00</option>
                                <option value="08:30:00">08:30:00</option>
                                <option value="09:00:00">09:00:00</option>
                                <option value="09:30:00">09:30:00</option>
                                <option value="10:00:00">10:00:00</option>
                                <option value="10:30:00">10:30:00</option>
                                <option value="11:00:00">11:00:00</option>
                                <option value="11:30:00">11:30:00</option>
                                <option value="12:00:00">12:00:00</option>
                                <option value="12:30:00">12:30:00</option>
                                <option value="13:00:00">13:00:00</option>
                                <option value="13:30:00">13:30:00</option>
                                <option value="14:00:00">14:00:00</option>
                                <option value="14:30:00">14:30:00</option>
                                <option value="15:00:00">15:00:00</option>
                                <option value="15:30:00">15:30:00</option>
                                <option value="16:00:00">16:00:00</option>
                                <option value="16:30:00">16:30:00</option>
                                <option value="17:00:00">17:00:00</option>
                                <option value="17:30:00">17:30:00</option>
                                <option value="18:00:00">18:00:00</option>
                                <option value="18:30:00">18:30:00</option>
                                <option value="19:00:00">19:00:00</option>
                                <option value="19:30:00">19:30:00</option>
                                <option value="20:00:00">20:00:00</option>
                                <option value="20:30:00">20:30:00</option>
                                <option value="21:00:00">21:00:00</option>
                                <option value="21:30:00">21:30:00</option>
                                <option value="22:00:00">22:00:00</option>
                                <option value="22:30:00">22:30:00</option>
                                <option value="23:00:00">23:00:00</option>
                                <option value="23:30:00">23:30:00</option>
                            </select>
                            <div class="row">
                                <label id="start_time-Required" style="color:red; font-size:10px; text-align:center;"></label>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <label><i class="fa fa-calendar"></i> &nbsp End Date</label>
                            <div style="width: 20px;  margin-left: 13px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                            <input type="date" Name="EndDate" Id="End_Date" class="form-control" data-date-format='yyyy-mm-dd' placeholder="YYYY/MM/DD" />
                            <div class="row">
                                <label id="End_Date-Required" style="color:red; font-size:10px; text-align:center;"></label>
                            </div>
                        </div>





                        @*<div class="col-lg-3">
                                <i class="fa fa-calendar"></i> &nbsp; <label>End Date</label>
                                <br />
                                <input type="date" Name="DateResigned" Id="end_date" />
                            </div>*@

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <label style="margin-left:10px">Node Type:</label>
                        <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                        <select class="select2able select2-offscreen" id="select_nodeType" onchange="getNodeNames()">
                            <option value="0"></option>
                        </select>
                        <div class="row">
                            <label id="select_nodeType-Required" style="color:red; font-size:10px; text-align:center;"></label>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <label style="margin-left:10px">Node Names:</label>
                        <div style="width: 20px;  margin-left: 1px; margin-top: -25px; font-size: 17px; color:red;">*</div>
                        <select class="select2able select2-offscreen " id="woc_select_nodeName" multiple>
                            <option value="0"></option>
                        </select>
                        <div class="row">
                            <label id="woc_select_nodeName-Required" style="color:red; font-size:10px; text-align:center;margin-top: 15px;"></label>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-3 pull-right">

                        <button class="btn btn-primary" type="submit" onclick="createWorkOrder()">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="woModal1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="woModal1Title"></h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <div id="woModal1ContentWeekly" style="display:none;">
                        <label class="checkbox-inline"><input type="radio" name="radio_weekly" id="sun" value="Sunday">S</label>
                        <label class="checkbox-inline"><input type="radio" name="radio_weekly" id="mon" value="Monday">M</label>
                        <label class="checkbox-inline"><input type="radio" name="radio_weekly" id="tue" value="Tuesday">T</label>
                        <label class="checkbox-inline"><input type="radio" name="radio_weekly" id="wed" value="Wednesday">W</label>
                        <label class="checkbox-inline"><input type="radio" name="radio_weekly" id="thu" value="Thursday">T</label>
                        <label class="checkbox-inline"><input type="radio" name="radio_weekly" id="fri" value="Friday">F</label>
                        <label class="checkbox-inline"><input type="radio" name="radio_weekly" id="sat" value="Saturday">S</label><br />
                    </div>
                    <div id="woModal1ContentDaily" style="display:none;">
                        <label class="checkbox-inline"><input type="checkbox" name="checkbox_daily" id="checkbox_daily" value="Sunday">S</label>
                        <label class="checkbox-inline"><input type="checkbox" name="checkbox_daily" id="checkbox_daily" value="Monday">M</label>
                        <label class="checkbox-inline"><input type="checkbox" name="checkbox_daily" id="checkbox_daily" value="Tuesday">T</label>
                        <label class="checkbox-inline"><input type="checkbox" name="checkbox_daily" id="checkbox_daily" value="Wednesday">W</label>
                        <label class="checkbox-inline"><input type="checkbox" name="checkbox_daily" id="checkbox_daily" value="Thursday">T</label>
                        <label class="checkbox-inline"><input type="checkbox" name="checkbox_daily" id="checkbox_daily" value="Friday">F</label>
                        <label class="checkbox-inline"><input type="checkbox" name="checkbox_daily" id="checkbox_daily" value="Saturday">S</label>
                    </div>
                    <label class="control-label col-lg-8" id="modal_text"></label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="$('#woModal1').modal('hide');">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="WOmodal2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">WO Created</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="control-label col-lg-8" id="modal_text">Your WO was created successfully.</label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

