@{
    ViewBag.Title = "BOTS/BOT DEPLOYED";
}
@Styles.Render("~/bundles/css/DataTableStyle")
@Styles.Render("~/bundles/css/select2")

<style>
    tfoot {
        display: table-header-group;
    }

    .heading {
        font-weight: bold;
    }
</style>

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Deployed Bots
        </div>
        <div class="row">
            <label id="lblMacroBotsMsg" for="message" >
            </label>
        </div>
        <div class="panel-body">
            <div class="table-responsive" style="overflow-x: auto;">
                <table id="tbBotBody" class="table table-striped table-bordered table-hover" style="width:100%"></table>
            </div>
            @Html.Partial("~/Views/Bots/botInfo.cshtml");

            <div class="modal fade" id="auditModal" role="dialog">
                <div class="modal-dialog" style="margin-top: 150px; width: 350px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">AUDIT REQUEST</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" id="downloadFiles">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Select Audit Status</label>
                                        <select id="auditOptions">
                                            <option value="-1">Pending</option>
                                            <option value="1">Pass</option>
                                            <option value="0">Fail</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <button id="updateAuditStatus" onclick="submitAuditStatus()" type="button" class="btn btn-default" style="float:right;">Update Status</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/DataTableScript")
@Scripts.Render("~/bundles/select2")
@Scripts.Render("~/bundles/DataTablesAdvancedScript")
@*@Scripts.Render("~/bundles/BotStore")*@
@Scripts.Render("~/bundles/DeployedBots");
@*<script src="~/Scripts/global.js"></script>*@
@Scripts.Render("~/bundles/jquery-dateformat");
@*@Scripts.Render("~/bundles/bootstrap")*@
@Scripts.Render("~/bundles/downloadBotFiles");



<script>
    $(document).ready(function () {
        //getDeployedBots();
        getAllBotDetails();
        $('#requestInfo').on('show.bs.modal', function () {
            $(this).find('.modal-content').css({
                width: 'auto', //probably not needed
                height: 'auto', //probably not needed
                'max-width': '50%',
                'margin': 'auto'
            });
        });

        $('.testNewBotRequest').on('click', function () {


            if ($(this).attr('data-details') != '') {
                pwIsf.addLayer({ text: 'Please wait ...' });

                let jsonObj = JSON.parse($(this).attr('data-details'));
                let { reqId, signum } = jsonObj;

                let ajCall = $.isf.ajax({
                    url: service_java_URL + "botStore/createBotTestingRequest/" + reqId + "/" + signum,
                    contentType: 'application/json',
                    type: 'POST',
                    returnAjaxObj: true

                });

                ajCall.done(function (data) {
                    if (data.apiSuccess) {
                        pwIsf.alert({ msg: 'Testing will be initiated after providing input to ISF Popup. Please ensure ISF Desktop App is running', type: 'success' });
                        window.open('isfalert:test_' + reqId, '_self');
                    }
                    else {
                        pwIsf.alert({ msg: '' + data.responseMsg, type: 'warning' });
                    }

                });
                ajCall.fail(function () { pwIsf.alert({ msg: 'Error in BOT testing.', type: 'error' }); });
                ajCall.always(function () { pwIsf.removeLayer(); });

            } else {
                console.log('Error : Request id not received.');
            }


        });
        //END - TEST FOR NEW BOT


         $('.stopTestBtnBotRequest').on('click', function () {
        pwIsf.addLayer({ text: 'Please wait ...' });

        let jsonObj = JSON.parse($(this).attr('data-details'));
        let { reqId, signum } = jsonObj;


        let ajCall = $.isf.ajax({
            url: service_java_URL + "botStore/stopInprogressBot/" + reqId + "/" + signum,
            contentType: 'application/json',
            type: 'POST',
            returnAjaxObj: true
        });

        ajCall.done(function (data) {
            if (data.apiSuccess) {
                pwIsf.alert({ msg: '' + data.responseMsg, type: 'success' });
                                //window.open('isfalert:test_' + requestID, '_self');
            } else {
                pwIsf.alert({ msg: '' + data.responseMsg, type: 'warning' });
            }
        });

        ajCall.fail(function () { pwIsf.alert({ msg: 'Error in BOT testing.', type: 'error' }); });
        ajCall.always(function () { pwIsf.removeLayer(); });

         });


    });

</script>