
@{
    ViewBag.Title = "Delivery Execution";
}

@Styles.Render("~/bundles/css/DeliveryExecution")
@Styles.Render("~/bundles/css/DataTableStyle")

@Scripts.Render("~/bundles/DataTableScript")
@Scripts.Render("~/bundles/DeliveryExecution")
@Scripts.Render("~/bundles/DataTablesAdvancedScript")
@*<script src="/Scripts/js.cookie.js"></script>*@

<style>
    a.divider:hover {
        background-color: #eeeeee;
    }

    .divider.active {
        background-color: #eeeeee;
    }

    .divider {
        border-right: 1px solid;
        padding: 4px 0px 4px 0px;
        color: #cec8c8;
    }

    .link {
        margin: 0px 5px 0px 5px;
        color: blue;
    }

    .filterHrefs {
        /*width: 20%;*/
        text-align: center;
        text-transform: capitalize;
        background-color: #ffffffc2;
        padding: 4px;
        border: 1px solid;
        border-radius: 10px;
        border-color: #cec8c8;
        font-size: 10px;
    }

    .labelDist {
        font-size: 10px;
        float: left;
        margin: 5px 2px 0px 15px;
    }
</style>
<div class="col-lg-12">
    <div class="panel panel-default">

        <div class="panel-heading" style="text-align:left;">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-7" style="text-align:center">
                        Work Order History
                    </div>
                    <div class="col-lg-4 filterHrefs pull-right">
                        <a href="#" class="divider" onclick="getPastDuration(this.innerText, this)"><span class="link">Last 3 Months</span></a>
                        <a href="#" class="divider" onclick="getPastDuration(this.innerText, this)"><span class="link">Last Month</span></a>
                        <a href="#" class="divider" onclick="getPastDuration(this.innerText, this)"><span class="link">This Month</span></a>
                        <a href="#" class="divider" onclick="getPastDuration(this.innerText, this)"><span class="link">Last Week</span></a>
                        <a href="#" class="divider" onclick="getPastDuration(this.innerText, this)"><span class="link">This Week</span></a>
                        <a href="#" class="divider active" onclick="getPastDuration(this.innerText, this)" style="border-right:0px;"><span class="link">Today</span></a>
                    </div>
                    <label class="labelDist pull-right">Duration:</label>




                </div>

            </div>




        </div>
        <div class="panel-body">

            <div class="row">

                <div class="table-responsive" style="overflow-x: auto;">
                    <table id="plannedProjectListTab" class="table table-striped table-bordered table-hover" style="width:100%"></table>

                </div>


            </div>

            <div class="modal fade" id="receiver" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Enter Receiver Signum</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Select Employee Signum</label>
                                        <select id="cbxSignumAR" class="select2able"></select>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <button type="button" class="btn btn-default pull-right" onclick="transferWorkOrder($('#cbxSignumAR').val())">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="massTransferModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Mass Change</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Select Employee Signum</label>
                                        <select id="cbxSignum" class="select2able"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group date datepicker">
                                        <label>Start Date</label><input id="start_date_mt" class="form-control" data-date-format='yyyy-mm-dd' data-date-start-date="0d" placeholder="YYYY-MM-DD" type="text">

                                    </div>
                                </div>
                                @*<div class="col-md-4">
                                        <div class="input-group date datepicker">
                                            <label>End Date</label><input id="end_date_mt" class="form-control" data-date-format='yyyy-mm-dd' placeholder="YYYY-MM-DD" type="text">

                                        </div>
                                    </div>*@
                            </div>
                            <hr />
                            <div class="row">
                                <button id="massTransferSubmit" type="button" class="btn btn-default pull-right">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="myModalMadEwo" role="dialog">
                <div class="modal-dialog modal-lg" style="overflow-y: initial !important;width:60%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" onclick="closeModalWorkOrderViews();" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">View Work Order</h4>
                        </div>
                        <div class="modal-body" style="height:600px;overflow-y: auto; ">
                            @Html.Partial("WorkOrderViews")
                            <hr />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalDefferedWO" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Mark as Deferred</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <input id="workOrderIDDefWO" type="hidden" value="" />
                                    <input id="commentDefferedWO" class="form-control" type="text" placeholder="Enter comment" required />
                                </div>
                            </div>

                            <hr />
                            <div class="row">
                                <button type="button" class="btn btn-default pull-right" onclick="updateWOStatus(document.getElementById('workOrderIDDefWO').value,'DEFERRED', document.getElementById('commentDefferedWO').value)">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalHoldWO" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Mark as on Hold</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <input id="workOrderIDHoldWO" type="hidden" value="" />
                                    <input id="commentHoldWO" class="form-control" type="text" placeholder="Enter comment" required />
                                </div>
                            </div>

                            <hr />
                            <div class="row">
                                <button type="button" class="btn btn-default pull-right" onclick="updateWOStatus(document.getElementById('workOrderIDHoldWO').value,'ONHOLD', document.getElementById('commentHoldWO').value)">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modalWONodes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="scopeTitleModal"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive" style="overflow-x:auto">
                                <table id="tableWONodes" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Node Type</th>
                                            <th>Node Names</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableNodes"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade in" id="mandatoryDL" role="dialog">
                <div class="modal-dialog modal-sm mandate">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #007aff">
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                            <h4 class="modal-title text-center" style="color:#fff">Get the latest ISF Setup</h4>
                        </div>
                        <div class="modal-body setup" style="background-color:lavender">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <a onclick="this.href = downloadISFSetup" id="isfSetupLink" class="pull-right" data-toggle="tooltip" title="Download ISF setup" style="cursor: pointer"><i class="fa fa-download glyphicon-ring glyphicon-green"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal_wo_nodes_de" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:9999;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="scopeTitleModal">Node Details</h4>
                        </div>
                        <div class="modal-body" id="scopeContentModal" style="overflow:auto">

                            <table id="table_wo_nodes_de" class="display table-bordered" cellspacing="0" width="100%"></table>

                        </div>
                        <div class="modal-footer">
                            @*<a id="submitModal" class="btn btn-primary" onclick="$('#modal_wo_nodes').modal('hide');">Close</a>*@
                            <button id="cancelModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/PlannedAssignment")
<style>

    tfoot {
        display: table-header-group;
    }
</style>
